/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

nav {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Wrapper for both containers */
.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px; /* Optional: adds space between the containers */
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: left; /* Align text to the left within the container */
    box-sizing: border-box;
    margin-bottom: 20px; /* Added margin for spacing between boxes on smaller screens */
}

.left-container {
    flex: 1;
}

.right-container {
    flex: 2;
    text-align: center; /* Center the content within the right container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.reading {
    margin-bottom: 20px;
}

.reading label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}

.reading input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    transition: opacity .15s ease-in-out;
}

#co2 {
    background: linear-gradient(to right, green, green, red, red);
}

#temperature {
    background: linear-gradient(to right, red, green, red);
}

#humidity {
    background: linear-gradient(to right, red, green, red);
}

.reading input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #888;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.reading input[type="range"]:disabled::-webkit-slider-thumb {
    background: #fff;
    border: 2px solid #888;
}

.reading .values {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.reading .current-value {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

p {
    font-size: 16px;
    color: #555;
    margin-top: 20px;
    font-weight: bold;
}

canvas {
    margin-top: 20px;
}

/* New Styles for Graphs Container */
#graphs-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    box-sizing: border-box;
    overflow: auto;
}

#graphs-container h1 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
}

/* Canvas Styles for Larger Graphs */
#graphs-container canvas {
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 100%;
    height: 400px;
}

/* Responsive Design */
@media (min-width: 768px) {
    .content-wrapper {
        flex-direction: row;
    }

    .left-container {
        width: 35%;
    }

    .right-container {
        width: 65%;
    }
}

@media (max-width: 767px) {
    .content-wrapper {
        flex-direction: column;
    }

    .left-container, .right-container {
        width: 100%;
    }

    .speedometer-container {
        flex-direction: column;
        align-items: center;
    }

    .min-max-values {
        margin-right: 0;
        margin-bottom: 20px;
        align-items: center;
    }
}

.speedometer-container {
    display: flex;
    align-items: center;
}

.min-max-values {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.min-values, .max-values {
    margin-bottom: 20px;
}

#status-text {
    margin-left: 20px;
    text-align: left;
}

.larger-value {
    font-size: 1.5em; /* Adjust the size as needed */
}

/* New class for status texts */
.status-text {
    font-size: 16px;
    color: #555;
    margin-top: 10px; /* Adjust margin as needed */
    font-weight: bold;
}
